<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <context:property-placeholder location="classpath:init.properties"/>

    <context:component-scan base-package="cn.itcast.topkey.web"/>

    <bean id="containerProperties" class="org.springframework.kafka.listener.config.ContainerProperties">
        <constructor-arg name="topics" value="${kafka-topic}"/>
        <property name="messageListener" ref="topKeyConsumer"/>
    </bean>

    <bean id="configs" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="bootstrap.servers" value="${kafka.servers}"/>
                <entry key="group.id" value="0"/>
                <entry key="enable.auto.commit" value="true"/>
                <entry key="auto.commit.interval.ms" value="1000"/>
                <entry key="session.timeout.ms" value="15000"/>
                <entry key="key.deserializer" value="org.apache.kafka.common.serialization.StringDeserializer"/>
                <entry key="value.deserializer" value="org.apache.kafka.common.serialization.StringDeserializer"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="consumerFactory" class="org.springframework.kafka.core.DefaultKafkaConsumerFactory">
        <constructor-arg name="configs" ref="configs"/>
    </bean>

    <!--创建kafka消费数据的监听容器-->
    <bean id="listenerContainer" class="org.springframework.kafka.listener.KafkaMessageListenerContainer">
        <constructor-arg name="consumerFactory" ref="consumerFactory"/>
        <constructor-arg name="containerProperties" ref="containerProperties"/>
    </bean>

    <!--dubbox相关内容-->
    <!--dubbox相关配置-->
    <!--配置服务项目发布服务端口号：默认是20880-->
    <dubbo:protocol name="dubbo" port="20882"/>

    <dubbo:application name="search-topkey-service"/>
    <dubbo:registry protocol="zookeeper" address="192.168.78.141:2181,192.168.78.142:2181,192.168.78.143:2181"/>
    <dubbo:annotation package="cn.itcast.topkey.service"/>

</beans>